.eunit
*.o
*.beam
*.plt
*.swp
*.swo
*.dot
erl_crash.dump
.rebar/
ebin/
deps/
/ct/*.beam
/ct/generic_*_SUITE.erl
/ct/logs
/src/oclexer.erl
/src/oclexer_legacy.erl
/src/ocparse.erl
/src/ocparse_legacy.erl
/test/generic_*.legacy
/test/generic_*.tst
/test/wwe.legacy
/test/wwe.tst
