_build
erl_crash.dump
rebar.lock
src/oclexer.dot
src/oclexer.erl
src/oclexer_legacy.dot
src/oclexer_legacy.erl
src/ocparse.erl
src/ocparse_legacy.erl
test/*.beam
test/generic_*.legacy
test/generic_*.tst
test/generic_*_SUITE.erl
test/wwe.*
