{cover_enabled, true}.
{cover_excl_mods, [
    oclexer,
    oclexer_legacy,
    ocparse,
    ocparse_legacy
]}.

{ct_cover, true}.
{ct_verbose, true}.

{deps_error_on_conflict, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{xrl_opts, [dfa_graph, verbose]}.

{yrl_opts, [verbose]}.
