{cover_enabled, true}.

{ct_cover, true}.
{ct_verbose, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.
{eunit_exclude_deps, true}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info,
            warnings_as_errors]}
    ]},
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.

{xrl_opts, [dfa_graph, verbose]}.

{yrl_opts, [verbose]}.
